/* Universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --moderate-cyan: hsl(176, 50%, 47%);
    --dark-cyan: hsl(176, 72%, 28%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 48%);
    --bg-color: rgb(188 188 188 / 7%);
}

body {
    background-color: var(--bg-color);
    color: var(--dark-gray);
}
h1, h2, h3, h4, h5, h6 {
    color: var(--black);
}

header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}

.header-container {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.list-items {
    list-style-type: none;
    display: flex;
}
.list-item {
    padding: 0 16px;
}
.nav-link {
    color:  white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.nav-link:hover {
    color: rgb(214, 214, 214);
}


/*===========================================
    HERO SECTION
===========================================*/
.container {
    width: 600px;
    background-color: #fff;
    margin: 0 auto;
    /* margin-top: -80px; */
    position: relative;
    top: -80px;
    border-radius: 8px;
    padding: 25px;
}
.secondary-logo {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.section-heading {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 35px;
}
.section-heading h1 {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}
.buttons button {
    border: 0;
    background-color: hsl(176deg 59% 50% / 10%);
    border-radius: 100px;
    cursor: pointer;
    padding: 8px 20px;
    height: 50px;
    color: white;
}

.buttons button:first-child {
    background-color: var(--moderate-cyan);
}
.buttons button:last-child {
    background-color: rgb(128 128 128 / 17%);    
    color: rgb(110, 106, 106);
    font-weight: 500;
}

.buttons button img {
    width: 50px;
    height: 50px;
    position: relative;
    left: -20px;
}

.buttons .bookmark {
    display: flex;
    align-items: center;
    justify-content: space-between;
}








